{#Cel umowy#}
<form class="multistep-form" id="expand-info" action="/multistep/informacje-poufne.html">
    <h2>{{ title }}</h2>
    <fieldset class="multistep-form__section">
        <h5>Czy chcesz rozszerzać cel tej umowy:
            <a data-toggle="tooltip" data-placement="bottom" title="Mauris id vulputate sapien, ac bibendum nunc. Aenean sem enim, dapibus a metus in, viverra tristique justo." class="tooltip-info fas fa-question-circle"></a>
        </h5>
        <div class="form-check form-check--show radio">
            <input class="form-check-input" type="radio" name="radioOptions12" id="radio12a" value="option1">
            <label class="form-check-label" for="radio12a">tak</label>
        </div>
        <div class="form-check radio">
            <input class="form-check-input" type="radio" name="radioOptions12" id="radio12b" value="option2">
            <label class="form-check-label" for="radio12b">nie</label>
        </div>
    </fieldset>
    <fieldset class="multistep-form__section multistep-form__section--show">
        <div class="form-row">
            <div class="form-group col-12">
                <label for="formControlTextarea1">Obie strony wyraziły zainteresowanie zbadaniem potencjalnej relacji biznesowej związanej z:</label>
                <textarea class="form-control" id="formControlTextarea1"  name="formControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action multistep-form__action--save">
            <button type="submit" class="btn btn--primary btn-save">
                <i class="icon-save far fa-save"></i>
                <span class="change-text">zapisz i dokończ później</span>
            </button>
        </div>
    </div>
</form>