<header class="form-page__header">
   <div class="container">
      <div class="form-page__header__content">
         <div class="form-page__header__items">
            <div class="form-page__header__item">
               <h1>Umowa o zachowaniu poufności (NDA)</h1>
            </div>
            <div class="form-page__header__item">
               <div class="form-page__header__actions">
{#                  <button class="btn btn--primary support-desktop">#}
{#                     <i class="far fa-comment "></i>#}
{#                     wsparcie#}
{#                  </button>#}
                  <button class="btn btn--primary">podgląd</button>
               </div>
            </div>
         </div>
         <div class="progress-line">
            <div class="progress-area">
               <div class="progress-area__content">
                  <div class="progress-bar__content" style="width: 7%">
                     <div class="stripped-bar"></div>
                     <p class="progress-area__info">7%</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
