
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="./assets/images/favicon.ico"/>

<!-- Primary Meta Tags -->
<title>{{ title }}</title>
<meta name="title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
<meta name="keywords" content="Lorem, ipsum, dolor, sit, amet, consectetur, adipiscing, elit">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://test.ovh/">
<meta property="og:title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
<meta property="og:image" content="http://konferensbokning.bluepaprica.ovh/assets/images/slider/home-slider-1.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://test.ovh/">
<meta property="twitter:title" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
<meta property="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
<meta property="twitter:image" content="http://test.ovh/assets/images/slider/home-slider-1.jpg">

{% include "styles.twig" %}