<header class="form-page__header">
   <div class="container">
      <div class="form-page__header__content">
         <div class="form-page__header__items">
            <div class="form-page__header__item">
               <h1>Formularz multistep</h1>
            </div>
            <div class="form-page__header__item">
               <div class="form-page__header__actions">
                  <button class="btn btn--primary support-desktop">
                     <i class="far fa-comment "></i>
                     wsparcie
                  </button>
                  <button class="btn btn--primary">podgląd</button>
               </div>
            </div>
         </div>
         <div class="progress-bar">
            <div class="progress-bar__content" style="width:25%">
               <p class="percent">25%</p>
            </div>
         </div>
      </div>
   </div>
</header>
