{% extends "layouts/default.twig" %}
{% block content %}
    <div class="form-page__wrapper">
        <div class="container">
            <div class="form-page__wrapper__content">
                <div class="form-page__nav">
                    {% include "sections/navigation/nav.twig" %}
                    {% include "components/btn-support.twig" %}
                </div>
                <div class="form-page__content">
                    {% include "sections/forms/expand-info/expand-info2.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}