<form class="multistep-form" id="get-info4c" action="/multistep/otrzymujacy5c.html">
    <!--  Wyskakuje wtedy kiedy naciśnieto Spółka Akcyjna lub Spółka z ograniczoną odpowiedzialnością -->
    <fieldset class="multistep-form__section">
        <legend>Dane firmy:</legend>
        <div class="multistep-form__desc-heading">
            <p>Tu wpisujemy informacje dotyczące <strong>firmy, która otrzymuje</strong> informacje</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputNameCompany911c" class="star-red">Nazwa firmy</label>
                <input type="text" class="form-control" id="inputNameCompany911c" name="inputNameCompany911c" placeholder="Nazwa firmy">
            </div>
            <div class="form-group col-md-12">
                <label for="exampleFormControlSelect911c">Sąd rejestrowy</label>
                <select class="form-control" id="exampleFormControlSelect911c">
                    <option>Sąd rejestrowy 1</option>
                    <option>Sąd rejestrowy 2</option>
                    <option>Sąd rejestrowy 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="inputKrs911c">Nr KRS</label>
                <input type="text" class="form-control" id="inputKrs46c" name="inputKrs911c">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputRegon911c">Regon</label>
                <input type="text" class="form-control" id="inputRegon911c" name="inputRegon911c">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNip911c">Nip</label>
                <input type="text" class="form-control" id="inputNip911c" name="inputNip911c">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/multistep/otrzymujacy3b.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action multistep-form__action--save">
            <button type="submit" class="btn btn--primary btn-save">
                <i class="icon-save far fa-save"></i>
                <span class="change-text">zapisz i dokończ później</span>
            </button>
        </div>
    </div>
</form>