<form class="multistep-form" id="get-info4b" action="/multistep/otrzymujacy5b.html">
    <!--  Wyskakuje wtedy kiedy naciśnieto jednoosobowa działalność gospodarcza -->
    <fieldset class="multistep-form__section">
        <legend>Dane firmy:</legend>
        <div class="multistep-form__desc-heading">
            <p>Tu wpisujemy informacje dotyczące <strong>firmy, która otrzymuje</strong> informacje</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputNameCompany89b" class="star-red">Nazwa firmy</label>
                <input type="text" class="form-control" id="inputNameCompany89b" name="inputNameCompany" placeholder="Nazwa firmy">
            </div>
            <div class="form-group col-sm-12">
                <label for="inputName89b" class="star-red">Imię</label>
                <input type="text" class="form-control" id="inputName89b"  name="inputName89b" placeholder="Imię">
            </div>
            <div class="form-group col-sm-12">
                <label for="inputUsername89b" class="star-red">Nazwisko</label>
                <input type="text" class="form-control" id="inputUsername89b"  name="inputUsername89b" placeholder="Nazwisko">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputPesel89b">Pesel</label>
                <input type="number" class="form-control" id="inputPesel89b" name="inputPesel89b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputID89b">Seria i numer dowodu osobistego</label>
                <input type="text" class="form-control" id="inputID89b" name="inputID89b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPassport89b">Seria i numer paszport</label>
                <input type="text" class="form-control" id="inputPassport89b" name="inputPassport89b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputRegon89b">Regon</label>
                <input type="text" class="form-control" id="inputRegon45b" name="inputRegon89b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputNip89b">Nip</label>
                <input type="text" class="form-control" id="inputNip89b" name="inputNip89b">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/multistep/otrzymujacy3b.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action multistep-form__action--save">
            <button type="submit" class="btn btn--primary btn-save">
                <i class="icon-save far fa-save"></i>
                <span class="change-text">zapisz i dokończ później</span>
            </button>
        </div>
    </div>
</form>