<form class="multistep-form" id="get-info5c" action="/multistep/otrzymujacy6c.html">
    <!--  Wyskakuje wtedy kiedy naciśnieto Spółka Akcyjna lub Spółka z ograniczoną odpowiedzialnością -->
    <fieldset class="multistep-form__section">
        <legend>Dane kontaktowe otrzymującego informację:</legend>
        <div class="multistep-form__desc-heading">
            <p>Tu wpisujemy informacje dotyczące <strong>firmy, która otrzymuje</strong> informacje</p>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="inputStreet911c">Ulica</label>
                <input type="text" class="form-control" id="inputStreet911c" name="inputStreet911c">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNumberStreet911c">Numer ulicy</label>
                <input type="text" class="form-control" id="inputNumberStreet911c" name="inputNumberStreet911c">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNumberLocal911c">Numer lokalu</label>
                <input type="text" class="form-control" id="inputNumberLocal911c" name="inputNumberLocal911c">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputCity911c">Miejscowość</label>
                <input type="text" class="form-control" id="inputCity911c" name="inputCity911c">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputCityKey911c">Kod pocztowy</label>
                <input type="text" class="form-control" id="inputCityKey911c" name="inputCityKey911c">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputEmail911c">Email</label>
                <input type="email" class="form-control" id="inputEmail911c" name="inputEmail911c" placeholder="Email">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone911c">Telefon</label>
                <input type="tel" class="form-control" id="inputPhone911c" name="inputPhone911c" placeholder="Telefon">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/multistep/otrzymujacy4c.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action multistep-form__action--save">
            <button type="submit" class="btn btn--primary btn-save">
                <i class="icon-save far fa-save"></i>
                <span class="change-text">zapisz i dokończ później</span>
            </button>
        </div>
    </div>
</form>