<form class="multistep-form" id="get-info34a" action="/multistep/cel-umowy.html">
    <!--  Wyskakuje wtedy kiedy naciśnieto NIE -->
    <fieldset class="multistep-form__section">
        <legend>Dane osoboweotrzymującego:</legend>
        <div class="multistep-form__desc-heading">
            <p>Tu wpisujemy informacje dotyczące <strong>osoby, która otrzymuje</strong> informację</p>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputName89a" class="star-red">Imię</label>
                <input type="text" class="form-control" id="inputName89a" name="inputName" placeholder="Imię">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputUsername89a">Nazwisko</label>
                <input type="text" class="form-control" id="inputUsername89a" name="inputUsername" placeholder="Nazwisko">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputEmail89a" class="star-red">Email</label>
                <input type="email" class="form-control" id="inputEmail89a" name="inputEmail89a" placeholder="Email">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone89a">Telefon</label>
                <input type="tel" class="form-control" id="inputPhone89a" name="inputPhone" placeholder="Telefon">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputPesel89a">Pesel</label>
                <input type="number" class="form-control" id="inputPesel89a">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPassport89a">Seria i numer paszport</label>
                <input type="text" class="form-control" id="inputPassport89a">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputID89a">Seria i numer dowodu osobistego</label>
                <input type="text" class="form-control" id="inputID89a">
            </div>
        </div>
    </fieldset>
    <fieldset class="multistep-form__section">
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="inputStreet89a">Ulica</label>
                <input type="text" class="form-control" id="inputStreet89a">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNumberStreet89a">Numer ulicy</label>
                <input type="text" class="form-control" id="inputNumberStreet89a">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNumberLocal89a">Numer lokalu</label>
                <input type="text" class="form-control" id="inputNumberLocal89a">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputCity89a">Miejscowość</label>
                <input type="text" class="form-control" id="inputCity89a">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputCityKey89a">Kod pocztowy</label>
                <input type="text" class="form-control" id="inputCityKey89a">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/multistep/otrzymujacy2.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action multistep-form__action--save">
            <button type="submit" class="btn btn--primary btn-save">
                <i class="icon-save far fa-save"></i>
                <span class="change-text">zapisz i dokończ później</span>
            </button>
        </div>
    </div>
</form>