<form class="multistep-form" id="reveal-info45b" action="">
    <h2>{{ title }}</h2>
    <!--  Wyskakuje wtedy kiedy naciśnieto jednoosobowa działalność gospodarcza -->
    <fieldset class="multistep-form__section">
        <legend>Dane firmy:</legend>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputNameCompany">Nazwa firmy</label>
                <input type="text" class="form-control" id="inputNameCompany" name="inputNameCompany" placeholder="Nazwa firmy">
            </div>
            <div class="form-group col-md-6">
                <label for="inputName45b">Imię</label>
                <input type="text" class="form-control" id="inputName45b"  name="inputName45b" placeholder="Imię">
            </div>
            <div class="form-group col-md-6">
                <label for="inputUsername45b">Nazwisko</label>
                <input type="text" class="form-control" id="inputUsername45b"  name="inputUsername45b" placeholder="Nazwisko">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail45b">Email</label>
                <input type="email" class="form-control" id="inputEmail45b" name="inputEmail45b" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPhone45b">Telefon</label>
                <input type="number" class="form-control" id="inputPhone45b" name="inputPhone45b" placeholder="Telefon">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputPesel45b">Pesel</label>
                <input type="number" class="form-control" id="inputPesel45b" name="inputPesel45b">
            </div>
            <div class="form-group col-md-6">
                <label for="inputID45b">Seria i numer dowodu osobistego</label>
                <input type="text" class="form-control" id="inputID45b" name="inputID45b">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassport45b">Seria i numer paszport</label>
                <input type="text" class="form-control" id="inputPassport45b" name="inputPassport45b">
            </div>
            <div class="form-group col-md-12">
                <label for="inputRegon45b">Regon</label>
                <input type="text" class="form-control" id="inputRegon45b" name="inputRegon45b">
            </div>
            <div class="form-group col-md-12">
                <label for="inputNip45b">Nip</label>
                <input type="text" class="form-control" id="inputNip45b" name="inputNip45b">
            </div>
        </div>
    </fieldset>
    <fieldset class="multistep-form__section">
        <legend>Dane kontaktowe:</legend>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputStreet45b">Ulica</label>
                <input type="text" class="form-control" id="inputStreet45b" name="inputStreet45b">
            </div>
            <div class="form-group col-md-4">
                <label for="inputNumberStreet45b">Numer ulicy</label>
                <input type="text" class="form-control" id="inputNumberStreet45b" name="inputNumberStreet45b">
            </div>
            <div class="form-group col-md-4">
                <label for="inputNumberLocal45b">Numer lokalu</label>
                <input type="text" class="form-control" id="inputNumberLocal45b" name="inputNumberLocal45b">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity45b">Miejscowość</label>
                <input type="text" class="form-control" id="inputCity45b" name="inputCity45b">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCityKey45b">Kod pocztowy</label>
                <input type="text" class="form-control" id="inputCityKey45b" name="inputCityKey45b">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/ujawniajacy3b.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action">
            <button class="btn btn--primary">
                <i class="far fa-save"></i>
                zapisz i dokończ później
            </button>
        </div>
    </div>
</form>