<form class="multistep-form" id="reveal-info4b" action="/multistep/ujawniajacy5b.html">
    <!--  Wyskakuje wtedy kiedy naciśnieto jednoosobowa działalność gospodarcza -->
    <fieldset class="multistep-form__section">
        <legend>Dane firmy:</legend>
        <div class="multistep-form__desc-heading">
            <p>Tu wpisujemy informacje dotyczące <strong>firmy, która udostępnia</strong> informacje</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputNameCompany">Nazwa firmy</label>
                <input type="text" class="form-control" id="inputNameCompany" name="inputNameCompany" placeholder="Nazwa firmy">
            </div>
            <div class="form-group col-sm-12">
                <label for="inputName45b">Imię</label>
                <input type="text" class="form-control" id="inputName45b"  name="inputName45b" placeholder="Imię">
            </div>
            <div class="form-group col-sm-12">
                <label for="inputUsername45b">Nazwisko</label>
                <input type="text" class="form-control" id="inputUsername45b"  name="inputUsername45b" placeholder="Nazwisko">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputPesel45b">Pesel</label>
                <input type="number" class="form-control" id="inputPesel45b" name="inputPesel45b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputID45b">Seria i numer dowodu osobistego</label>
                <input type="text" class="form-control" id="inputID45b" name="inputID45b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPassport45b">Seria i numer paszport</label>
                <input type="text" class="form-control" id="inputPassport45b" name="inputPassport45b">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputRegon45b">Regon</label>
                <input type="text" class="form-control" id="inputRegon45b" name="inputRegon45b">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNip45b">Nip</label>
                <input type="text" class="form-control" id="inputNip45b" name="inputNip45b">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/multistep/ujawniajacy3b.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action multistep-form__action--save">
            <button type="submit" class="btn btn--primary btn-save">
                <i class="icon-save far fa-save"></i>
                <span class="change-text">zapisz i dokończ później</span>
            </button>
        </div>
    </div>
</form>