<form class="multistep-form" id="reveal-info34a" action="">
    <h2>{{ title }}</h2>
    <!--  Wyskakuje wtedy kiedy naciśnieto NIE -->
    <fieldset class="multistep-form__section">
        <legend>Dane osobowe:</legend>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputName">Imię</label>
                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Imię">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputUsername">Nazwisko</label>
                <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Nazwisko">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPhone">Telefon</label>
                <input type="number" class="form-control" id="inputPhone" name="inputPhone" placeholder="Telefon">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-6">
                <label for="inputPesel">Pesel</label>
                <input type="number" class="form-control" id="inputPesel">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputID">Seria i numer dowodu osobistego</label>
                <input type="text" class="form-control" id="inputID">
            </div>
            <div class="form-group col-sm-6">
                <label for="inputPassport">Seria i numer paszport</label>
                <input type="text" class="form-control" id="inputPassport">
            </div>
        </div>
    </fieldset>
    <fieldset class="multistep-form__section">
        <legend>Dane kontaktowe:</legend>
        <div class="form-row">
            <div class="form-group col-sm-4">
                <label for="inputStreet">Ulica</label>
                <input type="text" class="form-control" id="inputStreet">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNumberStreet">Numer ulicy</label>
                <input type="text" class="form-control" id="inputNumberStreet">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputNumberLocal">Numer lokalu</label>
                <input type="text" class="form-control" id="inputNumberLocal">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputCity">Miejscowość</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-sm-4">
                <label for="inputCityKey">Kod pocztowy</label>
                <input type="text" class="form-control" id="inputCityKey">
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="/multistep/ujawniajacy2.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action">
            <button class="btn btn--primary">
                <i class="far fa-save"></i>
                zapisz i dokończ później
            </button>
        </div>
    </div>
</form>