<form class="multistep-form" id="reveal-info46c" action="">
    <h2>{{ title }}</h2>
    <!--  Wyskakuje wtedy kiedy naciśnieto Spółka Akcyjna lub Spółka z ograniczoną odpowiedzialnością -->
    <fieldset class="multistep-form__section">
        <legend>Dane firmy:</legend>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputNameCompany46c">Nazwa firmy</label>
                <input type="text" class="form-control" id="inputNameCompany46c" name="inputNameCompany46c" placeholder="Nazwa firmy">
            </div>
            <div class="form-group col-md-12">
                <label for="exampleFormControlSelect46c">Sąd rejestrowy</label>
                <select class="form-control" id="exampleFormControlSelect46c">
                    <option>Sąd rejestrowy 1</option>
                    <option>Sąd rejestrowy 2</option>
                    <option>Sąd rejestrowy 3</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputKrs46c">Nr KRS</label>
                <input type="text" class="form-control" id="inputKrs46c" name="inputKrs46c">
            </div>
            <div class="form-group col-md-4">
                <label for="inputRegon46c">Regon</label>
                <input type="text" class="form-control" id="inputRegon46c" name="inputRegon46c">
            </div>
            <div class="form-group col-md-4">
                <label for="inputNip46c">Nip</label>
                <input type="text" class="form-control" id="inputNip46c" name="inputNip46c">
            </div>
        </div>
    </fieldset>
    <fieldset class="multistep-form__section">
        <legend>Dane kontaktowe:</legend>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputStreet46c">Ulica</label>
                <input type="text" class="form-control" id="inputStreet46c" name="inputStreet46c">
            </div>
            <div class="form-group col-md-4">
                <label for="inputNumberStreet46c">Numer ulicy</label>
                <input type="text" class="form-control" id="inputNumberStreet46c" name="inputNumberStreet46c">
            </div>
            <div class="form-group col-md-4">
                <label for="inputNumberLocal46c">Numer lokalu</label>
                <input type="text" class="form-control" id="inputNumberLocal46c" name="inputNumberLocal46c">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCity46c">Miejscowość</label>
                <input type="text" class="form-control" id="inputCity46c" name="inputCity46c">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCityKey46c">Kod pocztowy</label>
                <input type="text" class="form-control" id="inputCityKey46c" name="inputCityKey46c">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail46c">Email</label>
                <input type="email" class="form-control" id="inputEmail46c" name="inputEmail46c" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPhone46c">Telefon</label>
                <input type="number" class="form-control" id="inputPhone46c" name="inputPhone46c" placeholder="Telefon">
            </div>
        </div>
    </fieldset>
    <fieldset class="multistep-form__section">
        <legend>Zarząd / przedstawieciel ujawniającego:</legend>
        <div class="add-person">
            <div class="add-person__content">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputName46c">Imię osoby reprezentującej firmę</label>
                        <input type="text" class="form-control" id="inputName46c" name="inputName46c" placeholder="Imię">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputUsername46c">Nazwisko osoby reprezentującej firmę</label>
                        <input type="text" class="form-control" id="inputUsername46c" name="inputUsername46c" placeholder="Nazwisko">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputStatus46c">Status osoby reprezentującej firmę</label>
                        <input type="text" class="form-control" id="inputStatus46c"  name="inputStatus46c" placeholder="Status">
                    </div>
                </div>
            </div>
            <div class="add-person__action">
                <button class="btn btn--primary btn-add">dodaj nową osobę
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div class="add-person__content add-person__content--expand">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputName2">Imię osoby reprezentującej firmę</label>
                        <input type="text" class="form-control" id="inputName2" placeholder="Imię">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputUsername2">Nazwisko osoby reprezentującej firmę</label>
                        <input type="text" class="form-control" id="inputUsername2" placeholder="Nazwisko">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputStatus2">Status osoby reprezentującej firmę</label>
                        <input type="text" class="form-control" id="inputStatus2" placeholder="Status">
                    </div>
                </div>
                <div class="add-person__action">
                    <button class="btn btn--secondary btn-add">zapisz</button>
                    <button class="btn btn--secondary btn-cancel">anuluj</button>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="multistep-form__actions">
        <div class="multistep-form__action">
            <div class="multistep-form__action__prev">
                <a href="./ujawniajacy3b.html" class="btn btn--secondary">
                    <i class="fas fa-arrow-left"></i>
                    wróć
                </a>
            </div>
            <div class="multistep-form__action__next">
                <button type="submit" class="btn btn--secondary">dalej
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="multistep-form__action">
            <button class="btn btn--primary">
                <i class="far fa-save"></i>
                zapisz i dokończ później
            </button>
        </div>
    </div>
</form>